body{
    background-color: gray;
}

.hero{
    width: 95%;
    margin: 5% auto;
    padding: 5%;

    border-radius: 25px;

    background-color: lightgray;

    text-align: center;
}

#heroName{
    width: 100%;
    background-color: white;
    color: black;
    font-size: 24px;
}

#resourceAmount{
    width: 100%;
    background-color: white;
    color: black;
    font-size: 22px;
    display: block;
}

.hero td{
    border: 1px solid black;
    width: 14%;
    text-align: center;
}

.hero table{
    margin-left: 5%;
}

.stats{  
    background-color: white;
    width: 100%;
    border-radius: 10px;
    padding: 2px;
}

#statContainer{
    width: 14%;;
}

.resources{
    margin-top: 2%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    font-size: 24px;
}

.resources div{
    background-color: gray;
    text-align: center;
    border-radius: 5px;
    padding: 5%;
}

.resources div button, .resources div p{
    display: inline;
}

.resources button{
    padding: 2px 14px;
    background-color: black;
    color: white;
    border-radius: 50%;
}

.resources p{
    margin: 2px;
}

input { 
    text-align: center; 
}

.newHero{
    width: 90%;
    margin: 5%;
    padding: 5%;

    border-radius: 25px;
}