*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gold: #ffd700;
    --white: #fafafa;
    --green: #25b425;
    --red: #d40000;
    --black: #131313;
    --gray: #808080;
}

body{
    background-color: var(--gray);
}

nav {
    margin: 5px 0 25px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav a {
    color: var(--black);
    background-color: var(--white);
    text-decoration: none;
    padding: 5px 7px 5px 7px;
    border: 3px solid var(--gold);
    border-radius: 250px;
    font-size: 14px;
    font-weight: 800;
}

.container{
    padding: 20px;
}

.box {
    background-color: var(--white);
    border: 3px solid var(--gold);
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 25px;
}

.header h1, .header p{
    margin-bottom: 10px;
    text-align: center;
}

.header button {
    margin: 10px;
    width: calc(100% - 20px);
    padding: 15px;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--gold);
    border: none;
    font-size: 25px;
    text-shadow: 2px 2px 10px var(--black);
    box-shadow: 1px 1px 5px 0px var(--black);
}

.hidden {
    display: none;
}

.side_selection h3{
    text-align: center;
}

.side_selection h1{
    text-align: center;
    margin: 20px 0;
}
.side_selection h1.good{
    color: var(--green);
}
.side_selection h1.evil{
    color: var(--red);
}

.scenario {
    height: 60px;
    overflow: hidden;
    transition: 0.4s ease;
}
.scenario.expanded {
    height: max-content;
}

.scenario .scenario_heading {
    position: relative;
    
}
.scenario .scenario_heading h3 {
    text-align: center;
}
.scenario .scenario_heading .expand {
    position: absolute;
    right: 15px;
    top: 0;
    height: 100%;

    border: none;
    background-color: none;
    background: none;

    transition: .3s ease;
}
.scenario.expanded .scenario_heading .expand {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.scenario .scenario_body {
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
    border-top: 1px solid var(--gray);
}
.scenario .scenario_body h3 {
    margin-bottom: 5px;
    margin-top: 10px;
}

.scenario .scenario_body .layout img {
    width: 100%;
    object-fit: contain;
}

.scenario .scenario_body .victory_points ul {
    padding-left: 15px;
}
.scenario .scenario_body .victory_points ul li {
    padding-bottom: 5px;
}

.scenario .scenario_body .special_rules p {
    margin-bottom: 5px;
}
.scenario .scenario_body .special_rules table {
    margin-top: 10px;
    border-collapse: collapse;
}
.scenario .scenario_body .special_rules table td {
    min-width: 40px;
    padding: 10px 5px;
}