:root {
    --bg: aliceblue;
    --bg-accent: rgb(216, 237, 255);
    --bg-container: white;
    --text: rgb(255, 128, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.navbar {
    background-color: var(--bg-container);
    border-style: solid;
    border-color:  var(--bg-accent);
    border-width: 4px 0;
    margin: 5vw 0;
    display: flex;
}

.navbar-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-basis: 100%;
}

.nav-link {
    text-decoration: none;
    color: var(--text);
    font-weight: bold;
}

.content {
    background-color: white;
    display: flex;
    flex-direction: column;
    color: var(--text);
    border-color:  var(--bg-accent);
    border-width: 0 2px;
    border-style: solid;
    padding: 15px;
}

.content h3.faction-header {
    margin: 0 auto 10px auto;
    font-size: 2em;
}

.faction-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.faction.collapse > div {
    display: none;
}

.faction {
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    border-style: solid;
    border-color: var(--bg-accent);
    border-width: 2px 0;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.faction h3 {
    margin: 0 auto;
    padding: 15px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    padding: 2px 5px;
}

.mini.grid span {
    margin: 0px 2px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-container);
    border: 1px solid var(--bg-accent);
}